@define-color borders_breeze #4b5263;
@define-color content_view_bg_breeze #1e2127;
@define-color error_color_backdrop_breeze #e06c75;
@define-color error_color_breeze #e06c75;
@define-color error_color_insensitive_backdrop_breeze #4d3236;
@define-color error_color_insensitive_breeze #4d3236;
@define-color insensitive_base_color_breeze #1b1f26;
@define-color insensitive_base_fg_color_breeze #4b5263;
@define-color insensitive_bg_color_breeze #23272e;
@define-color insensitive_borders_breeze #3e4452;
@define-color insensitive_fg_color_breeze #5c6370;
@define-color insensitive_selected_bg_color_breeze #23272e;
@define-color insensitive_selected_fg_color_breeze #5c6370;
@define-color insensitive_unfocused_bg_color_breeze #23272e;
@define-color insensitive_unfocused_fg_color_breeze #5c6370;
@define-color insensitive_unfocused_selected_bg_color_breeze #23272e;
@define-color insensitive_unfocused_selected_fg_color_breeze #5c6370;
@define-color link_color_breeze #61afef;
@define-color link_visited_color_breeze #c678dd;
@define-color success_color_backdrop_breeze #98c379;
@define-color success_color_breeze #98c379;
@define-color success_color_insensitive_backdrop_breeze #3e4b3a;
@define-color success_color_insensitive_breeze #3e4b3a;
@define-color theme_base_color_breeze #1e2127;
@define-color theme_bg_color_breeze #282c34;
@define-color theme_button_background_backdrop_breeze #2c313a;
@define-color theme_button_background_backdrop_insensitive_breeze #2a2e36;
@define-color theme_button_background_insensitive_breeze #2a2e36;
@define-color theme_button_background_normal_breeze #2c313a;
@define-color theme_button_decoration_focus_backdrop_breeze #98c379;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #3e4b3a;
@define-color theme_button_decoration_focus_breeze #98c379;
@define-color theme_button_decoration_focus_insensitive_breeze #3e4b3a;
@define-color theme_button_decoration_hover_backdrop_breeze #98c379;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #3e4b3a;
@define-color theme_button_decoration_hover_breeze #98c379;
@define-color theme_button_decoration_hover_insensitive_breeze #3e4b3a;
@define-color theme_button_foreground_active_backdrop_breeze #abb2bf;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #5c6370;
@define-color theme_button_foreground_active_breeze #abb2bf;
@define-color theme_button_foreground_active_insensitive_breeze #5c6370;
@define-color theme_button_foreground_backdrop_breeze #abb2bf;
@define-color theme_button_foreground_backdrop_insensitive_breeze #5c6370;
@define-color theme_button_foreground_insensitive_breeze #5c6370;
@define-color theme_button_foreground_normal_breeze #abb2bf;
@define-color theme_fg_color_breeze #abb2bf;
@define-color theme_header_background_backdrop_breeze #282c34;
@define-color theme_header_background_breeze #2c313a;
@define-color theme_header_background_light_breeze #282c34;
@define-color theme_header_foreground_backdrop_breeze #abb2bf;
@define-color theme_header_foreground_breeze #abb2bf;
@define-color theme_header_foreground_insensitive_backdrop_breeze #abb2bf;
@define-color theme_header_foreground_insensitive_breeze #abb2bf;
@define-color theme_hovering_selected_bg_color_breeze #98c379;
@define-color theme_selected_bg_color_breeze #98c379;
@define-color theme_selected_fg_color_breeze #282c34;
@define-color theme_text_color_breeze #abb2bf;
@define-color theme_titlebar_background_backdrop_breeze #282c34;
@define-color theme_titlebar_background_breeze #2c313a;
@define-color theme_titlebar_background_light_breeze #282c34;
@define-color theme_titlebar_foreground_backdrop_breeze #abb2bf;
@define-color theme_titlebar_foreground_breeze #abb2bf;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #abb2bf;
@define-color theme_titlebar_foreground_insensitive_breeze #abb2bf;
@define-color theme_unfocused_base_color_breeze #1e2127;
@define-color theme_unfocused_bg_color_breeze #282c34;
@define-color theme_unfocused_fg_color_breeze #abb2bf;
@define-color theme_unfocused_selected_bg_color_alt_breeze #3e4b3a;
@define-color theme_unfocused_selected_bg_color_breeze #3e4b3a;
@define-color theme_unfocused_selected_fg_color_breeze #abb2bf;
@define-color theme_unfocused_text_color_breeze #abb2bf;
@define-color theme_unfocused_view_bg_color_breeze #21252b;
@define-color theme_unfocused_view_text_color_breeze #4b5263;
@define-color theme_view_active_decoration_color_breeze #98c379;
@define-color theme_view_hover_decoration_color_breeze #98c379;
@define-color tooltip_background_breeze #2c313a;
@define-color tooltip_border_breeze #4b5263;
@define-color tooltip_text_breeze #abb2bf;
@define-color unfocused_borders_breeze #4b5263;
@define-color unfocused_insensitive_borders_breeze #3e4452;
@define-color warning_color_backdrop_breeze #e5c07b;
@define-color warning_color_breeze #e5c07b;
@define-color warning_color_insensitive_backdrop_breeze #4d4530;
@define-color warning_color_insensitive_breeze #4d4530;
